<a href="https://colab.research.google.com/github/j-on-son/Data/blob/master/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import re

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/j-on-son/Data/master/ISyE3803/Relay%20Bikes/Station%20Capacities.csv")
df.Station = df.Station.apply(lambda x : re.sub(r"(\w)&(\w)", r"\1 & \2", x.upper().strip()))
df.Station = df.Station.apply(lambda x : re.sub(r"(\w) ?- ?(\w)", r"\1 - \2", x))
df.Station = np.where(df.Station == "CENTINNIAL OLYMPIC PARK", "CENTENNIAL OLYMPIC PARK",
                np.where(df.Station == "FEDERAL RESERVE BANK OF AMERICA", "FEDERAL RESERVE BANK OF ATLANTA",
                    np.where(df.Station == 'GEORGIA TECH - WEST CAMPUS HOUSING', "WEST CAMPUS",
                        np.where(df.Station == 'GORDON-WHITE PARK', "GORON - WHITE PARK",
                            np.where(df.Station == 'GREENWOD AVE BELTLINE', "GREENWOOD AVE BELTLINE",
                                np.where(df.Station == "IRWIN & EAST SIDE BELTLINE", "IRWIN & EASTSIDE BELTLINE",
                                    np.where(df.Station =="JUNIPER & 14TH STREET", "JUNIPER & 14TH ST", 
                                        np.where(df.Station == "MARTS - MIDTOWN(NORTH)", "MARTA MIDTOWN (NORTH)", 
                                           np.where(df.Station == 'RANDOPH & EDGEWOOD', 'RANDOLPH & EDGEWOOD', 
                                              np.where(df.Station == "TECH SQAURE", "TECH SQUARE",
                                                  np.where(df.Station == "THE COCA COLA COMPANY", "THE COCA-COLA COMPANY", df.Station)))))))))))

In [0]:
odf = pd.read_csv("https://github.com/j-on-son/Data/blob/master/ISyE3803/Relay%20Bikes/Relay%20Trips.csv?raw=true")

In [0]:
odf["Start Hub"] = odf["Start Hub"].apply(lambda x : x if x is np.nan else re.sub(r"(\w) ?- ?(\w)", r"\1 - \2", x.strip()))
odf["End Hub"] = odf["End Hub"].apply(lambda x : x if x is np.nan else re.sub(r"(\w) ?- ?(\w)", r"\1 - \2", x.strip()))
for i in ["Start Hub", "End Hub"]:
  odf[i] = np.where(odf[i] == "GREENWOD AVE BELTLINE", 'GREENWOOD AVE BELTLINE', 
              np.where(odf[i] == "GEORGIA TECH - CRC", 'CRC', 
                  np.where(odf[i] == "GEORGIA TECH - TRANSIT HUB", 'TRANSIT  HUB', 
                      np.where(odf[i] == "GEORGIA TECH - WEST CAMPUS HOUSING", 'WEST CAMPUS', 
                          np.where(odf[i] == "GORDON-WHITE PARK", "GORDON - WHITE PARK",
                              np.where(odf[i] == "IRWIN & EASTSIDE BELTLINE", "GORDON - WHITE PARK", 
                                 np.where(odf[i] == "MARTA - MIDTOWN  (NORTH)", "MARTA MIDTOWN (NORTH)", 
                                    np.where(odf[i] == 'MARTA - NORTH AVE', "MARTA NORTH AVE", 
                                        np.where(odf[i] == "GEORGIA TECH - CLOUGH BUILDING", "CLOUGH", 
                                            np.where(odf[i] == "GEORGIA TECH - BOBBY DODD STADIUM", "BOBBY DODD STADIUM", 
                                                np.where(odf[i] == 'PIEDMONT &  AUBURN', 'PIEDMONT AND AUBURN', 
                                                    np.where(odf[i] == 'THE COCA - COLA COMPANY', "THE COCA-COLA COMPANY", 
                                                        np.where(odf[i] == "HISTORIC WESTSIDE VILLAGE", "WESTSIDE VILLAGE", odf[i])))))))))))))

In [0]:
oodf = set(odf["Start Hub"].values)
ddf = set(df.Station.values)
ddf - oodf

{'IRWIN & EASTSIDE BELTLINE', 'THE COCA - COLA COMPANY'}

In [0]:
odf.to_csv("Relay Trips.csv",index=False);df.to_csv("Station Capacities.csv",index=False)

In [0]:
from google.colab import files
files.download("Relay Trips.csv");files.download("Station Capacities.csv")

KeyboardInterrupt: ignored

In [0]:
ls

In [0]:
odf

       User ID  Route ID            Payment Plan  ... Fees Bonuses Total cost
0       378572   3043976           PAY AS YOU GO  ...  0.0       0       0.00
1       378572   3043984           PAY AS YOU GO  ...  0.0       0       1.05
2       378588   3044258           PAY AS YOU GO  ...  0.0       0      11.70
3       378609   3044376           PAY AS YOU GO  ...  0.0      -1       8.75
4       378610   3044393           PAY AS YOU GO  ...  0.0      -1       8.45
...        ...       ...                     ...  ...  ...     ...        ...
91508   276632   6168281                     NaN  ...  0.0       0       0.00
91509   602164   6168407                     NaN  ...  0.0       0       0.00
91510   602164   6168410                     NaN  ...  0.0       0       0.00
91511   276632   6168636                     NaN  ...  0.0       0       0.00
91512   585021   6168723  SNAP PASS SUBSCRIPTION  ...  0.0       0       0.00

[91513 rows x 23 columns]

In [0]:
a = np.array([i for i in odf["End Hub"].unique() if i is not np.nan and "VIRTUAL" not in i])
b = odf.dropna()
b["End Latitude"] = b["End Latitude"].astype(float)
b["End Longitude"] = b["End Longitude"].astype(float)
c = b.groupby(["End Hub"])["End Latitude", "End Longitude"].mean()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """

In [0]:
c.to_csv("hub_lat_long.csv", index=True)

In [0]:
ls

 hub_lat_long.csv  'Relay Trips.csv'   sample_data/  'Station Capacities.csv'

In [0]:
from google.colab import files
files.download("hub_lat_long.csv")